html, body {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
}

form {
	height: 100%;
}

table {
	border: 0;
	border-collapse: collapse;
	width: 100%;
	height: 100%;
	text-align: center;
}
	
td {
	padding: 0;
}

table.inp {
	height: auto;
}

table.inp td.r {
	text-align: right;
	padding: 2px;
	width: 43%;
	white-space: nowrap;
}

table.inp td.l {
	text-align: left;
	padding: 2px;
	white-space: nowrap;
}

label {
	font-size: 12px;
	color: #003070;
}

input {
	font-weight: bold;	
}

input.inp {
	text-align: center;
	padding: 2px;
	margin: 1px;
	font-size: 14px;
	border: 1px solid #BCC0FF;
	width: 220px;
}

div.wrong {
	padding: 3px 3px 3px 15px;
    border-left: #FF0000 solid 2px;
    background-color: #ecdbdb;
    text-align: left;
    font-size: 12px;
    width: 400px;	
    margin: 0 auto;
}

a {
	font-size: 10px; 
	color: #154e9a;	
}

img {
	vertical-align: top;
}

img#cap {
	border: solid 1px #154e9a;	
	cursor: pointer;
}

span {
	font-size: 12px;
	padding: 5px 2px 3px 26px;
*	vertical-align: 3px;
}

span.ok {
	background: url("ok.gif") no-repeat left center;
}

span.error {
	background: url("error.gif") no-repeat left center;
}

span.loading {
	background: url("loading.gif") no-repeat left center;
}
