.product__title {
  margin: 0 0 17px 0;
  width: 360px;
  height: 60px;
  color: #000000;
  font-family: 'Roboto';
  font-size: 30px;
  font-weight: 900;
  line-height: 36px;
  text-transform: uppercase; }
  .product__title span {
    font-size: 26px;
    color: #dadada;
    font-weight: 600;
    display: block; }
  @media screen and (min-width: 1328px) {
    .product__title {
      width: 760px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      height: 30px;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      .product__title span {
        display: block;
        padding: 0 20px 0 20px; } }

.product__content {
  margin: 0 0 35px 0; }
  @media screen and (min-width: 990px) {
    .product__content {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; } }

.product__body {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 0 0 30px; }

.product__images {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 40%;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%; }
  @media screen and (min-width: 990px) {
    .product__images {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%;
      display: inline-block;
      overflow: hidden; } }
  @media screen and (max-width: 1328px) {
    .product__images {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 50%;
          -ms-flex: 0 0 50%;
              flex: 0 0 50%; } }

h1.product__title {
  margin: 0 0 0 20px; }

@media screen and (max-width: 1328px) {
  .page__side {
    display: none; } }

.page__content-side {
  margin: 10px 0 0 0; }

.images-product {
  background-color: #f7f1f1; }
  .images-product__mainslider {
    width: 100%;
    margin: 0 -6px 10px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
  .images-product__mainslide {
    border: 1px solid #f5f5f5;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
  .images-product__sale {
    position: absolute;
    top: 16px;
    left: 20px;
    border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50px;
    height: 50px;
    font-size: 16px;
    color: #ffffff;
    background-color: #e65b24f1; }
  .images-product__image {
    min-width: 0; }
  .images-product__subslider {
    margin: 0 -6px; }
  .images-product__subslide {
    padding: 10px 6px; }
    .images-product__subslide.swiper-slide-thumb-active .images-product__subimage::after {
      opacity: 1; }
  .images-product__subimage {
    -webkit-transition: all .8s ease 0s;
    -o-transition: all .8s ease 0s;
    transition: all .8s ease 0s;
    padding: 0 0 82%;
    border: 1px solid #e4e4e4; }
    .images-product__subimage::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      border: 3px solid #e65b24f1;
      opacity: 0; }

@media screen and (min-width: 990px) {
  .body-product {
    margin-right: 50px; } }

.body-product__top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #e4c2c2;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 12px 0; }
  @media screen and (min-width: 1328px) {
    .body-product__top {
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around; } }

.body-product__compare {
  border-radius: 25px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 33px;
  background-color: #f3f3f3;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 15px;
  font-weight: 900;
  color: #666666;
  text-transform: uppercase; }
  .body-product__compare span {
    background: url("../images/down.gif") left no-repeat;
    padding-left: 30px;
    line-height: 21px; }

.body-product__stock {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 18px;
  background-color: #e65b24f1;
  color: #ffffff;
  padding: 0 30px 0 20px;
  border-radius: 15px;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px; }

.body-product__actions {
  margin: 0 0 22px 0; }

.actions-product {
  border-bottom: 1px solid #e4c2c2;
  padding: 15px 0; }
  .actions-product__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    margin: 0 -15px;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .actions-product__column {
    padding: 0 15px; }
  .actions-product__price {
    white-space: nowrap;
    color: #333333;
    font-size: 16px;
    font-weight: 900; }
    .actions-product__price::after {
      font-size: 14px; }
  .actions-product__price_old {
    white-space: nowrap;
    text-align: right;
    color: #999999;
    font-size: 16px;
    font-weight: 300;
    text-decoration: line-through; }
    .actions-product__price_old::after {
      font-size: 14px; }
  .actions-product__cart {
    white-space: nowrap;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #af5252;
    position: relative;
    height: 57px;
    background-color: #f0eeec;
    border-radius: 25px;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 10px 0 5px; }
    .actions-product__cart::after {
      content: '';
      background: url("../images/icons/user-circle-regular.svg") center no-repeat;
      position: absolute;
      width: 57px;
      height: 57px;
      right: 0;
      top: 0; }
    .actions-product__cart span {
      line-height: 34px;
      white-space: nowrap;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 80%;
          -ms-flex: 1 1 80%;
              flex: 1 1 80%;
      text-transform: uppercase;
      font-size: 14px;
      font-weight: 900;
      color: #888888;
      padding: 5px 55px 0 10px;
      -webkit-text-decoration-line: none;
              text-decoration-line: none; }
    @media screen and (max-width: 1328px) {
      .actions-product__cart {
        margin: 15px 0 0 0; } }

.quantity {
  width: 20px;
  height: 33px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .quantity__input {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    padding: 0 12px;
    height: 33px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .quantity__input input {
      height: 100%;
      color: #a6a6a6;
      font-size: 16px;
      width: 50px;
      border: 2px solid #e2dfdf;
      text-align: center; }
  .quantity__button_minus {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20px;
        -ms-flex: 0 0 20px;
            flex: 0 0 20px;
    position: relative;
    cursor: pointer;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    width: 20px;
    height: 17px;
    background: url(../images/down.gif) left no-repeat;
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
  .quantity__button_plus {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 20px;
        -ms-flex: 0 0 20px;
            flex: 0 0 20px;
    position: relative;
    cursor: pointer;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    width: 20px;
    height: 17px;
    background: url(../images/down.gif) right no-repeat;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg); }

.include-product {
  border-bottom: 1px solid #e4c2c2; }
  .include-product__title {
    font-weight: 700;
    color: #333333;
    margin: 0 0 10px 0;
    text-transform: uppercase;
    margin: 0 0 20px 0; }
  .include-product__items {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex; }
  .include-product__item {
    text-align: center;
    -webkit-box-flex: 0;
    -webkit-flex: 0 1 33.333%;
        -ms-flex: 0 1 33.333%;
            flex: 0 1 33.333%;
    margin: 0 30px 13px 0; }
    .include-product__item:last-child {
      margin: 0; }
  .include-product__icon {
    min-height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    margin: 0 0 10px 0; }
    .include-product__icon img {
      width: 25px; }
  .include-product__text {
    display: inline-block;
    color: #696969;
    max-width: 100px;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px; }

.product__info {
  margin: 0 0 70px 0; }
  @media screen and (max-width: 767px) {
    .product__info {
      margin: 0 -10px 30px -10px; } }

.info-product__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 20px 0; }

.info-product__item {
  height: 49px;
  color: #62dff0;
  text-transform: uppercase;
  font-weight: 900;
  padding: 0 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer; }
  .info-product__item span {
    border-bottom: 1px dashed; }
  .info-product__item._active {
    background-color: #62dff0;
    color: #ffffff; }
    .info-product__item._active span {
      border-bottom: 1px dashed transparent; }
  @media screen and (max-width: 767px) {
    .info-product__item {
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto;
      padding: 0 15px; } }

.info-product__body {
  color: #000000;
  background-color: #f7f2f2;
  padding: 35px 35px; }
  @media screen and (max-width: 767px) {
    .info-product__body {
      padding: 25px 15px; } }

.info-product__block {
  padding: 0 40px;
  color: #444444;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  margin: 0 0 20px 0; }
  .info-product__block:last-child {
    margin: 0 20px 0 20px; }
  @media screen and (max-width: 767px) {
    .info-product__block p {
      padding: 0 40px 0 0px; } }

.info-product__table {
  border-collapse: collapse;
  width: 100%; }
  .info-product__table tr {
    border-bottom: 1px solid #acaaaa; }
  .info-product__table td {
    width: 50%;
    color: #333333;
    padding: 15px 0; }

.info-product__value {
  font-weight: 300; }

.same-products__title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
  color: #dadada;
  margin: 0 0 30px 0; }

.breadcrumbs {
  margin: 20px 0; }
  @media screen and (max-width: 767px) {
    .breadcrumbs {
      margin: -20px 0 20px 0; } }
